{{ blok._editable }}
<section class="fdb-block">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <h1>
          {{ blok.headline }}
        </h1>

        {% if params.filter %}
          {% assign filter_query = '{"categories": {"exists": "'| append:params.filter | append:'"}}' %}
          {% set articles from stories starts_with:'article/', is_startpage:'0', filter_query:filter_query %}
        {% else %}
          {% set articles from stories starts_with:'article/', is_startpage:'0' %}
        {% endif %}

        {% for article in articles.data, per_page:10 %}
          <div class="card mb-4">
            {% if article.content.teaser_image != blank %}
              <img class="card-img-top" src="{{ article.content.teaser_image | resize:'500x200' }}" alt="{{ article.name | escape }}">
            {% endif %}
            <div class="card-body">
              <h2 class="card-title">{{ article.name }}</h2>
              <div class="card-text mb-3">
                {{ article.content.intro | markdown }}
              </div>
              <a href="/{{ article.full_slug }}" class="btn btn-primary">Read More →</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{ article.published_at | date:'%a, %b %d, %y' }}
            </div>
          </div>
        {% endfor %}

        {% include 'pagination' %}

      </div>

      <div class="col-md-4">
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              {% set categories from stories starts_with:'categories/' %}
              {% for category in categories.data %}
                <li>
                  <a href="?filter={{ category.uuid }}">{{ category.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="card my-4">
          <h5 class="card-header">Authors</h5>
          <div class="card-body">
            {% set authors from stories starts_with:'authors/' %}

            {% for author in authors.data %}
              <div class="d-flex align-items-center mb-2">
                <div class="mr-2">
                  <img height="30" src="{{ author.content.image }}" />
                </div>
                <p>
                  {{ author.content.name }}
                </p>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
