{{ blok._editable }}
<li class="nav-item{% if blok.link.cached_url contains request.path %} active{% endif %}">
  <a class="nav-link" href="{{ blok.link | url }}">
    {% if blok.icon.icon != blank %}
      <i class="{{ blok.icon.type }} {{ blok.icon.icon }}"></i>
    {% endif %}
    {% if blok.image != blank %}
      <img alt="image" src="{{ blok.image }}" height="40">
    {% endif %}
    {{ blok.name }}
  </a>
</li>
