{% if params.page %}
  {% assign page = params.page | round %}
{% else %}
  {% assign page = 1 %}
{% endif %}

{% assign range = per_page %}
{% assign total = articles.total | round | divided_by_ceil: per_page %}
{% assign page_index = page | minus: 1 %}
{% assign max_range = page_index | plus: range %}
{% assign min_range = page_index | minus: range %}

{% if total > 1 %}
  <nav>
    <ul class="pagination justify-content-center">
      {% for i in (1..total) %}
        {% if i <= max_range and i >= min_range %}
          {% if i == page %}
            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% elsif i == 1 %}
          <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          <li class="page-item"><span>...</span></li>
        {% elsif i == total %}
          <li class="page-item"><span>...</span></li>
          <li class="page-item">
              <a class="page-link" href="?page={{ total }}">{{ total }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
