<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Site - {{ story.name }}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">

  {% if proxy_mode %}
    <link href="{{ 'assets/css/above.css' | asset_url }}" rel="stylesheet">
  {% else %}
    <style>{%- include 'above_fold_css' -%}</style>
  {% endif %}

  <!--
  The HTML and CSS of the components are a modified version of the Froala Design Blocks.
  Copyright (c) 2017, Froala (https://www.froala.com/), FROALA OPEN WEB DESIGN LICENSE Version 1.0 - 16 October 2017
  https://github.com/froala/design-blocks/blob/master/LICENSE
  -->

  <link rel="preload" id="stylesheet" href="{{ 'assets/css/below.css' | asset_url }}" as="style" onload="this.rel='stylesheet'">
</head>
<body>

  <div class="body__wrap">

  <div class="body__other">
  {% if story.content.component != 'blank' %}
    {%- set global from story id:'global' -%}
    {% for blok in global.content.header %}
      {%- include blok.component with blok: blok -%}
    {% endfor %}
    {% if global.content.header == blank %}
      {{ global.content._editable }}
      <div>
        Define header blocks here
      </div>
    {% endif %}
  {% endif %}
  </div>

  <main id="main" class="main body__content" role="main">
    {% include story.content.component with blok: story.content, title: story.name, date: story.created_at %}
  </main>


  <div class="body__other">
  {% if story.content.component != 'blank' %}
    {% for blok in global.content.footer %}
      {%- include blok.component with blok: blok -%}
    {% endfor %}
    {% if global.content.footer == blank %}
      {{ global.content._editable }}
      <div>
        Define footer blocks here
      </div>
    {% endif %}
  {% endif %}
  </div>

  </div>

  <script type="text/javascript" src="{{ 'assets/js/scripts.js' | asset_url }}"></script>

  {% if story.content._editable %}
    <script type="text/javascript" src="//app.storyblok.com/f/storyblok-latest.js?t={{ public_token }}"></script>
    <script type="text/javascript">

      storyblok.on('change', function(event) {
        if (!event.slugChanged) {
          location.reload(true)
        }
      })

      storyblok.on('published', function(event) {
        if (!event.slugChanged) {
          location.reload(true)
        }
      })

      storyblok.pingEditor(function() {
        if (storyblok.inEditor) {
          storyblok.enterEditmode()
        }
      })

    </script>
  {% endif %}

  <script>
  /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
  !function(a){"use strict";var b=function(b,c,d){function e(a){return h.body?a():void setTimeout(function(){e(a)})}function f(){i.addEventListener&&i.removeEventListener("load",f),i.media=d||"all"}var g,h=a.document,i=h.createElement("link");if(c)g=c;else{var j=(h.body||h.getElementsByTagName("head")[0]).childNodes;g=j[j.length-1]}var k=h.styleSheets;i.rel="stylesheet",i.href=b,i.media="only x",e(function(){g.parentNode.insertBefore(i,c?g:g.nextSibling)});var l=function(a){for(var b=i.href,c=k.length;c--;)if(k[c].href===b)return a();setTimeout(function(){l(a)})};return i.addEventListener&&i.addEventListener("load",f),i.onloadcssdefined=l,l(f),i};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);

  /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
  !function(a){if(a.loadCSS){var b=loadCSS.relpreload={};if(b.support=function(){try{return a.document.createElement("link").relList.supports("preload")}catch(b){return!1}},b.poly=function(){for(var b=a.document.getElementsByTagName("link"),c=0;c<b.length;c++){var d=b[c];"preload"===d.rel&&"style"===d.getAttribute("as")&&(a.loadCSS(d.href,d,d.getAttribute("media")),d.rel=null)}},!b.support()){b.poly();var c=a.setInterval(b.poly,300);a.addEventListener&&a.addEventListener("load",function(){b.poly(),a.clearInterval(c)}),a.attachEvent&&a.attachEvent("onload",function(){a.clearInterval(c)})}}}(this);
  </script>
</body>
</html>
